.about {
    background-color: lavenderblush;
    padding-top: 1%;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
}

.hover-instructions {
   text-align: center;
   font-size: small;
}



