.blog-header, .add-blog { 
    margin-left: 80px;
    margin-top: 0;
}

.blog-header {
    padding-top: 30px;
}

.blog-page {
    padding-bottom: 50px;
} 

.blog-entry {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    border-style: groove;
    border-radius: 10px;
    background-color: white;
}

.add-blog-button, .edit-blog-button, .delete-blog-button, .submit-button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.add-blog-button, .submit-button {
    background-color: paleturquoise;
}

.edit-blog-button {
    background-color: lavender;
}

.delete-blog-button {
    background-color: lavenderblush;
}

.blog-buttons {
    position: relative;
    text-align: right;
}