.blog-header, .add-blog { 
    margin-left: 80px;
    margin-top: 0;
}

.blog-header {
    padding-top: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
}

.blog-page {
    padding-bottom: 50px;
    background-color: teal;
} 

.blog-entry {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    border-style: groove;
    border-radius: 1px;
    border-color: #008080;
    background-color: white;
}

.add-blog-button, .edit-blog-button, .delete-blog-button, .submit-button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.adding-blog {
    margin-top: 30px;
    margin-right: 80px;
    padding: 20px;
    border-style: groove;
    border-radius: 10px;
    
    background-color: white;
}

.blog-form {
    padding: 10px;
}

.blog-form .title, .body {
    padding: 10px;
}

.add-blog-button, .submit-button {
    background-color: paleturquoise;
    margin-left: 10px;
}

.edit-blog-button {
    background-color: lavender;
}

.delete-blog-button {
    background-color: #fce7f9;
}

.blog-buttons {
    position: relative;
    text-align: right;
}