.contact {
    display: flexbox;
    justify-content: center;
    padding: 3%;
    background-color: #fce7f9;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.contact img {
    height: 4em;
    width: 4em;
}

.twitter-img {
    border-radius: 5%;
}

.contact-links {
    display: inline-flexbox;
}

.contact-links a {
    padding: 3%;
}

.twitter-img:hover {
    transform: scale(1.07);
}

.linkedin-img:hover {
    transform: scale(1.07);
}

.gmail-img:hover {
    transform: scale(1.07);
}