#box1 {
  height: 500px;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 10%;
}

.user-instructions {
  padding-bottom: 3%;
}

.section-header, .user-instructions {
  text-align: center;
}

.user-instructions {
  font-size: medium;
}

.ven-container {
  visibility: hidden;
  font-size: medium;
}

.ven-container ul {
  list-style-type: none;
}

.qa-skills {
  text-align: center;
  z-index: -1;
  position: absolute;
  left: 32%;
  bottom: -19%;
  transform: translate(-50%, -50%);
}

.ven-container .combined-skills {
  text-align: center;
  z-index: -3;
  position: absolute;
  left: 47%;
  bottom: -23%;
  transform: translate(-50%, -50%);
}

.dev-skills {
  text-align: center;
  z-index: -2;
  position: absolute;
  left: 61%;
  bottom: -23%;
  transform: translate(-50%, -50%);
}

.ven {
  z-index: -4;
  left: 25%;
  position: absolute;
}

#circle1 {
  z-index: 0;
  position: absolute;
  left: 15%;
  width: 400px;
  height: 400px;
  background: lavender;
  border-radius: 50%;
  line-height: 400px;
  text-align: center;
  font-size: x-large;
}

#circle2 {
  z-index: -5;
  position: absolute;
  right: 15%;
  width: 400px;
  height: 400px;
  background: paleturquoise;
  border-radius: 50%;
  line-height: 400px;
  font-size: x-large;
  text-align: center;
}

#box1:hover > #circle1 {
  display: none;
}

#box1:hover > #circle2 {
  display: none;
}

#box1:hover > .ven-container {
  visibility: visible;
}